  /* Main section */
  section {
    flex-grow: 1;
    overflow-y: auto;
    height: inherit;
    padding-bottom: 15px;
  }
  
  section article {
    padding-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
  }

  /* Welcome section */
  #welcome {
    
  }
