@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body, html {
    height: 100%;
    margin: 0;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
}
  
.bgimg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}
  
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}
  
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    cursor: pointer;
}
  
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
hr {
    margin: auto;
    width: 40%;
}

/* Birthday Overlay */
@keyframes bounce {
    0% {transform: rotate(15deg);}
    50% {transform: rotate(-15deg);}
    100% {transform: rotate(15deg);}
}

#overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    background: linear-gradient(120deg, #FF9393, #FFE96F);
    font-family: "Indie Flower";
    color: white;
    overflow: hidden;
    z-index: 5;
    top: 0;
    left: 0;
    transition: 0.5s;
}

#overlay h1 {
    text-align: center;
    font-size: 50px;
}
  
#overlay .panda {
    display: flex;
    justify-content: center;
    margin: 75px;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
  
#overlay .head {
    width: 230px;
    height: 200px;
    border: 1px solid white;
    background: #ECEFF1;
    border-radius: 42%;
    box-shadow: 4px 4px 75px 20px #eedd82, -4px -4px 75px 20px #eedd82;
}
  
#overlay .ear {
    position: relative;
    width: 90px;
    height: 60px;
    border: 1px solid transparent;
    background: black;
    border-radius: 50% 50% 15% 15%;
    transform: rotate(-30deg);
    top: -13%;
    left: -5%;
}
  
#overlay .ear.right {
    position: relative;
    top: -43%;
    left: 66%;
    transform: rotate(30deg);
}
  
#overlay .eye {
    position: relative;
    top: -25%;
    left: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
    background: black;
}
  
#overlay .eye.right {
    position: relative;
    left: 67%;
    top: -50%;
}
  
#overlay .eye:after {
    display: block;
    content: "";
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    background: #ECEFF1;
    top: 15%;
    left: 15%;
    border-radius: 50%;
}
  
#overlay .mouth {
    position: relative;
    width: 10%;
    height: 10%;
    top: -50%;
    left: 45%;
    border-radius: 15% 15% 70% 70%;
    border: 1px solid transparent;
    background: black;
}
