/* Animations */
@keyframes slideLeft {
  from {left: 0;}
  to {left: -100%;}
}

@keyframes slideRight {
  from {left: 100%;}
  to {left: 0;}
}

/*tooltip*/
abbr {
    position: relative;
}
abbr::after{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color: var(--textOverAccent);
    background: var(--accent2);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-radius:3px;
    padding: 4px 7px;
    z-index: 1;
    top: 105%;
    left: 50%;
}
abbr:hover::after, abbr:active::after {
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: max-content;
    content: attr(name);
    font-size: small;

    margin-left: -5px;
    padding: 5px 10px;
}

  /* Sidebar */
  aside {
    background: #fff0de;
    min-width: 0;
    width: 0;
    overflow-y: auto;
    height: inherit;
    overflow-x: hidden;
    transition: min-width 0.5s ease;
  }
  aside.open {
    min-width: 35% !important;
  }
  #side-container {
    width: 90%;
    margin: auto;
  }
  
  aside article {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
  /* Cart Start */
  
  .cart .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 15px;
  }
  
  .cart .items .item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 135px;
    width: 100%;
    outline: 1px rgb(36, 36, 36) solid;
  }
  
  .cart .items .item .item-header {
    width: 50%;
    height: inherit;
    overflow: hidden;
  }
  
  .cart .items .item .item-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .cart .items .item .item-body {
    padding: 10px;
    font-size: 14px;
  }
  
  .cart .items .item .item-body p {
    margin: 0;
    padding: 0;
  }
  .cart .items .item .item-body p.price {
    font-weight: bold;
  }
  
  .cart .items .item .item-body .buyBtn {
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  .cart .checkout {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .cart .checkout #checkoutBtn {
    background-color: #d3954a;
    color: white;
  }
  
  /* INDEX PAGE */
  /* Start Carousel */
  .carousel {
    max-width: 700px;
    max-height: 400px;
    position: relative;
    margin: auto;
  }
    
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner h3 {
    color: #f2f2f2;
    background-color: #00000075;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
  }
  
  .carousel-inner .item {
    position: relative;
    display: none;
    animation: 0.5s ease-in-out;
  }
  
  .carousel-inner .item.active, .carousel-inner .item.next {
    display: block;
  }
  
  .carousel-inner .item.next {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .carousel-inner .item.to-left {
    animation-name: slideLeft;
  }
  .carousel-inner .item.from-right {
    animation-name: slideRight;
  }
  .carousel-inner .item.to-right {
    animation-name: slideRight;
    animation-direction: reverse;
  }
  .carousel-inner .item.from-left {
    animation-name: slideLeft;
    animation-direction: reverse;
  }
  
  .carousel-inner .item .carousel-container {
    margin: 0 auto;
    background-color: #d4d4d4;
    height: 400px;
    width: 100%;
  }
  .carousel-inner .item .carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  
  .carousel-inner .item .carousel-container .text {
    color: #f2f2f2;
    font-size: 21pt;
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px #000000;
  }
  
  .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    cursor: pointer;
  }
  
  .carousel-control.right {
    right: 0;
    left: auto;
  }
  
  .carousel-control .arrow {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QXJyb3c8L3RpdGxlPjxwYXRoIGQ9Ik0yNS42IDEwLjk3NGwtOC41MyA4LjYyYTEuMzYgMS4zNiAwIDAgMS0xLjkzNS4wMDMgMS4zODcgMS4zODcgMCAwIDEtLjAwMi0xLjk1bDYuMjAxLTYuMjY4SDEuMzY4QTEuMzc0IDEuMzc0IDAgMCAxIDAgMTBjMC0uNzYyLjYxMy0xLjM4IDEuMzY4LTEuMzhoMTkuOTY2bC02LjItNi4yNjdhMS4zODcgMS4zODcgMCAwIDEgLjAwMS0xLjk1IDEuMzYgMS4zNiAwIDAgMSAxLjkzNi4wMDJsOC41MyA4LjYyMWMuNTMyLjUzOC41MzIgMS40MSAwIDEuOTQ4IiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") center center no-repeat;
    background-size: 26px 20px;
    opacity: 0.6;
    transform: translateY(-50%);
  }
  .carousel-control .arrow:hover {
    opacity: 0.8;
  }
  
  .carousel-control .arrow.left {
    transform: rotate(180deg);
    left: 10%;
  }
  
  .carousel-control .arrow.right {
    right: 10%;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 5px;
    left: 50%;
    padding-left: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
  }
  
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
  }
  
  .carousel-indicators li.active {
    background-color: #FFFFFF;
  }
  /* End Carousel */
  
  /* Listing Start */
  .listing {
    padding: 0 5px;
  }
  
  .listing div {
    margin: 10px 0;
  }
  
  .listing #item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    row-gap: 1.5vw;
    column-gap: 1.5vw;
  }
  
  #item-container .item {
    flex: 1;
    flex-basis: 40%;
    max-width: 250px;
    border-radius: 0.25em;
    width: 250px;
    height: auto;
  }
  #item-container .item:hover {
    outline: 1px black solid;
    cursor: pointer;
  }
  
  #item-container .item .item-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  
  #item-container .item .item-header .new {
    position: absolute;
    top: 7px;
    left: 0;
    background-color: red;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    padding: 3px 15px;
  }
  
  #item-container .item .item-header img {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #item-container .item .item-body {
    background-color: #FFFFFF;
    padding: 10px;
  }
  
  #item-container .item .item-body p {
    font-size: 14px;
  }
  #item-container .item .item-body p.price {
    font-weight: bold;
  }
  
  #item-container .item .item-body .buyBtn {
    font-weight: normal;
  }
  
  .listing #pagination {
    display: inline-block;
  }
  .listing #pagination a {
    float: left;
    text-decoration: none;
    margin: none;
    padding: none;
  }
  .listing #pagination input[type=button] {
    color: black;
    padding: 8px 16px;
  }
  .listing #pagination input[type=button].active {
    background-color: #d3954a;
    color: white;
  }
  .listing #pagination input[type=button]:hover:not(.active) {
    background-color: #ddd;
  }
  /* Listing End */

  
  /* CONTACT PAGE */
  #contact .contacto{
    font-size: 14pt;
    padding: 15px;
    width: 80%;
    max-width: 70vw;
    margin: auto;
  }
  
  #contact #sendBtn {
    background-color: #d3954a;
    color: white;
    padding: 16px 20px;
    opacity: 0.9;
    max-width: 50vw;
  }
  #contact #sendBtn:hover {
    opacity: 1;
  }
  
  /* REGISTER PAGE AND LOGIN */
  #register .container {
    width: 80%;
    max-width: 70vw;
    margin: auto;
    overflow-x: hidden;
  }
  
  #register .registerBtn, #login {
    background-color: #d3954a;
    color: white;
    padding: 16px 20px;
    opacity: 0.9;
  }
  #register .registerBtn:hover, #login:hover {
    opacity: 1;
  }
  
  .formlogout {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    opacity: 0.9;
  }
  .formlogout:hover {
    opacity: 1;
  }
  
  #formlogin {
    width: 70%;
    margin: auto;
  }
  #registro {
    color: #4a5fd3;
    text-decoration: none;
    font-weight: bold;
  }
  #registro:hover {
    text-decoration: underline;
  }
  
  #settingsLink{
    text-decoration: none;
    margin-bottom: 10px;
  }
  #settingsBtn {
    background-color: #4a5fd3;
    color: white;
    width: 60%;
    display: block;
    margin: auto;
  }
  
  /* SETTINGS PAGE */
  #settings .container {
    width: 80%;
    max-width: 70vw;
    margin: auto;
    overflow-x: hidden;
  }
  
  #settings .modifyBtn {
    background-color: #d3954a;
    color: white;
    width: 40%;
    min-width: fit-content;
  }
  #settings .deleteBtn {
    font-size: 11pt;
    width: 20%;
    min-width: fit-content;
    background-color: #f44336;
    color: white;
  }